/* цвет фона #F5F4FA */
/* вторичный цвет фона #F5F4FA */
/* цвет фона акцента #2F303A */
/* цвет основного текста  #757575*/
/* вторичный цвет текста  #212121* , для лого цвет #000000/
/* цвет текста - белый #FFFFFF */
/* акцент #2196F3 */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background-color-accent: #2f303a;
$background-color-main: #f5f4fa;
